html,
body {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#navTitle {
  color: white;
}
#savedLink {
  color: white;
  align-content: center;
}
div {
  align-content: center;
  justify-content: center;
  white-space: pre-wrap;
}
.navbar {
  text-decoration: none;
}
img {
  margin: 10px 10px;
  white-space: nowrap
}
.row {
  margin: 10px 10px;
}
#searchContainer {
  justify-content: center;
  margin: 0; 
  padding: 0;
  text-align: center;
}
button {
  border-radius: 5px;
}